.back-button {
 font-family: 'JetBrains', sans-serif;
 font-weight: normal;
 position: fixed;
 top: 10px;
 right: 10px;
 font-size: 2.5rem;
 color: #02ae02;
 text-shadow: 0 0 15px rgba(0, 128, 0, 0.6);
}